.main-layout {
    display: flex;
    flex-direction: column;
    height: 100%;

    header {
        display: flex;
        height: 50px;
        min-height: 50px;
    }

    & > .container {
        display: flex;
        height: 100%;
    }
    
    aside {
        display: flex;
        flex-direction: column;
        width: 260px;
        min-width: 260px;
    }
    
    main {
        margin: 10px 2%;
        flex: 1;
        height: calc(100% - 80px);
        background-color: #FFF;
        overflow-y: auto;
    }
}